!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title
      -if defined?(@title)
        #{@title} | projectName
      -else
        projectName

    =stylesheet "stylesheets/library/html5boilerplate"
    =stylesheet "stylesheets/base"
    =stylesheet "stylesheets/persistent"
    =stylesheet "stylesheets/nav"
    =stylesheet "stylesheets/footer"


    =javascript "javascripts/application"

  %body
    #wrap
      = partial :"partials/header"
      = partial :"partials/nav"

      = partial :"partials/secondary_nav", :locals => { |
        :section => defined?(section) ? section : "", |
        :is_secondary => defined?(is_secondary) ? true : false, |
        :is_tertiary => defined?(is_tertiary) ? true : false |
      } |

      = partial :"partials/tertiary_nav", :locals => { :section => defined?(section) ? section : "", :is_secondary => defined?(is_secondary) ? true : false, :is_tertiary => defined?(is_tertiary) ? true : false }

      #body-wrapper
        #background
        #content
          = yield
        .cl

      = partial :"partials/footer", :locals => { |
        :section => defined?(section) ? section : "", |
        :is_secondary => defined?(is_secondary) ? true : false, |
        :is_tertiary => defined?(is_tertiary) ? true : false |
      } |